<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quality.mapper.ProjectMapper">
    <resultMap id="prjectMap" type="com.quality.model.ProjectModel">
        <id column="id" property="id"/>
        <result column="description" property="desc"/>
        <result property="createTime" column="create_time"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="queryProject" resultMap="prjectMap">
        select id,name,description,create_time from q_projects
        <where>
            id=#{id} and has_delete=0;
        </where>
    </select>

    <update id="deleteProject">
        update q_projects set has_delete='1' where id=#{id}
    </update>

    <insert id="addProject" useGeneratedKeys="true" keyProperty="id">
        insert into q_projects(id,name,description,create_time,has_delete) values(#{id},#{name},#{desc},#{createTime},0)
    </insert>

    <select id="queryAllProject" resultMap="prjectMap">
        select id,name,description,create_time from q_projects
        <where>
            has_delete=0;
        </where>
    </select>
</mapper>